@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

/* Base */
body {
  padding: 0;
  margin: 0!important;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Amatic SC", sans-serif!important;
}
.box{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h2{
    top: 0;
    left: 0;
    margin: 0;
    font-weight: 400!important;
    font-size: 10vw!important;
    mix-blend-mode: screen;
    color: hsl(0, 0%, 28%);
    letter-spacing: 7px!important;
    cursor: pointer;
    text-transform: uppercase;
    padding: 64px;
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
}
.login-form{
    top: 0;
    left: 0;
    margin: 0;
    font-weight: 400!important;
    font-size: 3vw!important;
    text-transform: uppercase;
    background-color: hsl(0, 0%, 100%)!important;
    mix-blend-mode: screen;
}
input{
    font-family: "Amatic SC", sans-serif!important;
    font-weight: 400!important;
    font-size: 2vw!important;
    text-transform: uppercase;
    /* background-color: hsl(0, 0%, 100%)!important; */
    /* mix-blend-mode: screen; */
}

@keyframes shine {
0% {
    background-position: 0;
}
60% {
    background-position: 600px;
}
100% {
    background-position: 600px;
}
}